// Extra styles

body
    // background: #fdfdfd
    text-align: center

.event-container
    padding-bottom: 0.5em
    padding-top: 0.5em

.event
    position: relative
    border: 1px solid black
    margin: auto
    padding: 0px 15px 0px 15px
    max-width: 400px
    min-height: 220px
    max-height: 300px
    text-align: center
    background: white

.event-circle
    position: absolute
    display: block
    margin-left: auto
    margin-right: auto
    left: 0
    right: 0
    bottom: 0
    padding-bottom: 20px

.period-container
    padding-bottom: 1em
    padding-bottom: 0.5em
    padding-top: 0.5em

.period
    position: relative
    font-weight: bold
    font-size: 120%
    top: 0
    left: 0
    bottom: 0
    right: 0
    border: 1px solid black
    margin: auto
    padding: 0px 15px 0px 15px
    max-width: 200px
    min-height: 300px
    max-height: 600px
    text-align: center
    background: white

.period-circle
    position: absolute
    display: block
    margin-left: auto
    margin-right: auto
    left: 0
    right: 0
    bottom: 0
    padding-bottom: 20px

.scene-container
    // I shouldn't really do this to a div.
    // TODO fix scene to be a span
    display: inline-block
    padding-bottom: 0.5em
    padding-top: 0.5em
    vertical-align: middle

.scene
    font-size: 80%
    position: relative
    border: 1px solid black
    margin: auto
    padding: 0px 15px 0px 15px
    max-width: 170px
    min-height: 300px
    max-height: 400px
    text-align: center
    background: white


.scene-circle
    position: absolute
    display: block
    padding-bottom: 1ex
    padding-right: 1ex
    right: 0
    bottom: 0
