<template>
    <svg :height="size" :width="size">
                <circle :cx="size/2" :cy="size/2" :r="size*0.8/2" stroke="black" stroke-width="3" :fill="fillColor" />
    </svg>
</template>

<script>
export default {
    props: ['size', 'fillColor']
}
</script>

